.containerBody {
    min-height: 100vh;
    background-color: #141414;
}

header .container {
    display: flex;
    padding: 30px 35px 40px;
}

.header_title {
    margin-left: 38%;
    align-self: center;
    text-align: center;
    color: #F9C903;
}

.iconBack {
    cursor: pointer;
}

.ulCharacters {
    padding: 10px 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
}

.li {
    width: 11%;
    padding: 15px 0;
    border: 2px solid #8b7109;
    border-radius: 3px;
    cursor: pointer;
}

.li_name {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    color: #F9C903;
}