.containerBody {
    min-height: 100vh;
    background-color: #141414;
}

.ulCharacters {
    padding: 10px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 10px;
}

.li {
    min-width: 11%;
    padding: 15px 10px;
    border: 2px solid #8b7109;
    border-radius: 3px;
    cursor: pointer;
}

.li:hover {
    box-shadow: 0px 10px 27px -8px #f2f5f7, 
    0px -10px 27px -8px #a31925;
    transition: 0.3s;
}

.li_name {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    color: #F9C903;
}

@media (min-width: 1441px) {
    .ulCharacters {
        padding: 10px 8% 30px;
    }

    .li {
        min-width: 13%;
    }
}

@media (max-width: 1419px) {
    .li {
        width: 20%;
    }
}

@media (max-width: 810px) {
    .li {
        width: 30%;
    }
}

@media (max-width: 562px) {
    .li {
        width: 45%;
    }
}

@media (max-width: 395px) {
    .li {
        width: 100%;
    }
}
