.header {
    padding: 0 5.6%;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 3% 0 4%;
}

.iconBack {
    cursor: pointer;
    width: 70px;
}

.header_title {
    align-self: center;
    text-align: center;
    color: #F9C903;
}

.formRequest, .button {
    height: 100%;
    padding: 0 0.5rem;
    text-align: center;
}

@media (max-width: 600px) {
    header .container {
        height: 175px;
        flex-direction: column;
        align-items: center;
    }

    .iconBack {
        display: none;
    }
}
