.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0 4%;
}

.iconBack {
    cursor: pointer;
    width: 70px;
}

.header_title {
    color: #F9C903;
    text-align: center;
}

.formRequest {
    height: 100%;
    padding: 0 0.5rem;
    text-align: center;
}

@media (min-width: 1651px) {
    .header {
        padding: 0 5.6%;
    }

    .iconBack {
        width: 6%;
    }

    .header_title {
        font-size: 50px;
    }

    .formsContainer {
        height: 60px;
        width: 20%;
    }

    .formRequest {
        width: 100%;
        font-size: 17px;
    }
}

@media (max-width: 1651px) {
    .header {
        padding: 0 10.5%;
    }
}

@media (max-width: 1650px) {
    .formsContainer {
        height: 30px;
    }
    
    .formRequest {
        height: 35px;
    }
}

@media (max-width: 1419px) {
    .header .container {
        padding: 3% 6% 4%;
    }
}

@media (max-width: 810px) {
    .header .container {
        padding: 3% 2% 4%;
        flex-direction: column;
        gap: 1rem 0;
    }

    .iconBack {
        display: none;
    }

    .header_title {
        padding-top: 5%;
    }

    .formsContainer {
        height: 45px;
        width: 80%;
    }

    .formRequest {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .formRequest {
        font-size: 9px;
    }
}
