.container {
    min-height: 100vh;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #000;
    background-image: url('../public/images/cabeca_pok.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -10rem;
    background-size: cover;
}

.formsContainer {
    margin-right: 18%;
}

.formRequest, .button {
    height: 3rem;
    padding: 0 0.5rem;
}

.formRequest:nth-child(2) {
    cursor: pointer;
}

.button {
    margin: 16px 8px;
    font-size: 20px;
    background-color: #F9C903;
    border-radius: 7px;
    cursor: pointer;
}
