.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url('../public/cabeca_pok.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.formsContainer {
    margin: 16rem;
}

.formRequest, .button {
    height: 3rem;
    padding: 0 0.5rem;
}

.button {
    width: 83%;
    margin: 20px;
    font-size: 20px;
    background-color: #F9C903;
    border-radius: 7px;
}