.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #000;
    background-image: url('../public/images/cabeca_pok.jpg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: -10rem;
    background-size: cover;
}

.imgLogo {
    display: none;
}

.formsContainer {
    margin-left: 18%;
}

.formRequest, .button {
    height: 3rem;
    padding: 0 0.5rem;
}

.formRequest:nth-child(2) {
    cursor: pointer;
}

.button {
    margin: 16px 8px;
    font-size: 20px;
    background-color: #F9C903;
    border-radius: 7px;
    cursor: pointer;
}

@media (max-width: 1440px) {
    .container {
        background-image: none;
        justify-content: space-evenly;
    }

    .divImgLogo {
        display: flex;
        justify-content: center;
    }

    .imgLogo {
        width: 60%;
        /* margin: 5% 18% 0; */
        display: initial;
    }
    
    .formsContainer {
        margin: 0 0 15rem;
        align-self: center;
    }
}
