.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalOverlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgb(0 0 0 / 60%);
}

.modalContent {
    width: 75%;
    max-width: 680px;
    min-height: 300px;
    max-height: 416px;
    padding: 20px;
    outline: none;
    overflow: auto;
    border-radius: 4px;
    background: #9E8007;
}

.section {
    /* display: flex;
    justify-content: space-between; */
    min-height: 260px;
}

.divHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.divBody {
    display: flex;
    justify-content: space-between;
}

.title {
    text-transform: capitalize;
}

.li_info {
    margin: 15px 10px 15px;
}

.li_txt {
    text-transform: uppercase;
    font-size: 20px;
}

.divModalImg {
    margin: 0 auto;
}

.modalImg {
    width: 300px;
}

.divXClose {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #A6955A;
}

.xClose {
    padding: 2px 9.2px;
    font-weight: bold;
    color:rgba(23, 23, 23, 1);
}

.xClose:hover {
    cursor: pointer;
    color: #9C231C;
}

@media (max-width: 810px) {
    .section {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modalContent {
        max-height: 95%;
        max-width: 80%;
        width: 370px;
    }

    .divBody {
        flex-direction: column-reverse;
    }

    .nameDiv {
        order: 3;
        align-self: center;
    }

    .contentTxt {
        width: 100%;
        padding: 0 5px;
        margin: 0;
    }

    .divXClose {
        order: 4;
        align-self: flex-end;
    }

    .modalImg {
        width: 80%;
    }
    
    .divModalImg {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 24px;
    }

    .ulTxt {
        display: flex;
        flex-direction: column;
    }
    
    .li_info {
        width: fit-content;
        margin: 0 10px 15px;
    }

    .li_txt {
        font-size: 16px;
    }
}
